@media (max-width: 1440px) {}

@media (max-width: 1399.98px) {
    .stepBlock p {
        line-height: 16px;
    }

    .next-step {
        text-align: center;
    }

    .next-step img.img-fluid {
        width: 70%;
    }

}

@media(max-width:1280px) {
    .journey-wrapper .ps-5 {
        margin-left: 0 !important;
        padding-left: 30px !important;

    }

    .journey-header .container-fluid {
        width: 98%;
    }

}

@media (max-width: 1199.98px) {

    .stepBlock h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .productLoan .rounded_12 img.me-2,
    .stepsBorrowing figure img {
        width: 30% !important;
    }

    .productLoan .rounded_12 p {
        height: 100px;
    }

    .page-wrapper {
        margin-top: 73px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
        padding: 6px 12px;
    }

    .homeBanner h1,
    .heading2 {
        font-size: 45px;
    }

    .container {
        width: 90%;
    }

    .bg-content1 h3 {
        font-size: 20px;
    }

    .content1 {
        display: block !important;
    }



}

@media(max-width: 1024px) {
    .homeBanner {
    min-height: 420px;
    }
.page-wrapper h2 {
    font-size: 34px;
}
    .affiliateSlider .carousel-item img {
        width: 100%;
    }

    .nav-link-custom {
        padding: 0 8px !important;
    }

    .logo-img {
        height: 47px;
    }
}

@media (max-width: 991.98px) {

    .loanCalculator {
    border-radius: 24px 24px 0px 0px;
}
        .productLoan .rounded_12 p {
        height: 140px;
    }
    .faq-img-none{
        display: none;
    }
    .bg-content1 .justify-content-between.row {
        justify-content: center !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }

    .smartHeading {
        text-align: center;
    }

    .next-step {
        padding: 20px;
    }

    .journey-wrapper .ps-5 {
        padding: 0px 10px !important;
    }

    .bkStatement,
    .coverDiv {
        min-height: auto;
        margin-bottom: 21px;
    }

    .copy-box {
        display: block !important;
        text-align: center;
    }

    .nav-link-custom {
        margin-bottom: 20px;
        text-align: left;
    }

    .nav-link-custom.active {
        border-bottom: 2px solid #032e63;
    }

    li.nav-item.desktop-apply-btn {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: left;
    }

    .content1,
    .content2 {
        text-align: center;
        justify-content: center;
    }


    .homeRight-image img {
        width: 62%;
    }

    .homeRight-image {
        text-align: center;
    }

    .processLoan .row {
        text-align: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 73px;
        left: 0;
        text-align: center;
        width: 100%;
        background: #ecf8ff;
        padding: 24px 24px 0 24px;
    }

    .bgNews img {
        display: none;
    }

    .homeRight-image img {
        margin: 0 !important;
    }

    .homeRight-image {
        padding: 0 !important;
    }

    .lineback .col-lg-12.d-flex {
        display: block !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width: 767.98px) {
    .col-lg-7.col-md-8.text-white.py-lg-5.py-md-5.py-4.homeBannerDiv a.btn-block.mb-3.d-block img {
    width: 131px;
}
    div#content_calculate .col.mainColor {
    max-width: 100% !important;
    width: 100%;
    flex: none;
}
    .homeBannerDiv {
    height: 992px;
}

.homeBanner {
        min-height: 705px;
        max-height: 201px;
        background-position: right bottom;
        background-size: 187%;
    }

    .border-sm-none {
        border: none !important;
    }

    .captchaDiv {
        flex-wrap: wrap;
    }

    .captchaDiv label {
        width: 130px !important;
    }

    .next-step {
        padding: 28px 0px 70px 0px;
    }

    .journey-form input,
    .journey-form select {
        font-size: 14px;
    }

    .content2 img {
        width: 100%;
    }

    .commonMobButton .btn {
        width: 100% !important;
    }

    .stepsImg {
        width: 90%;
    }

    .journey-wrapper {
        margin-top: 58px;
    }

    .statusbtnCheck button.btn.check-button-retake.mx-2 {
        width: auto;
    }

    .card-bankBlock::after {
        width: 80%;
        font-size: 11px;
    }

    .card-bankBlock {
        margin: 12px !important;
    }

    .check-button-selfie {
        width: 131px;
    }

    .check-button-retake,
    .check-button-selfie,
    .check-button {
        font-size: 14px;

    }

    .check-button-retake {
        width: 116px;
    }

    .selfie-uploadBlock .container-fluid.aadhaar-section {
        padding: 0;
    }

    video#webcam {
        width: 100%;
    }

    .progress-bar {
        font-size: 10px;
    }

    .journey-header button#dropdownMenuButton1 {
        padding: 0;
        padding-left: 8px;
    }

    .need-help {
        padding: 10px 8px;
        gap: 0px;
        font-size: 12px;
    }

    nav.journey-header {
        padding: 0;
    }

    .securitySection {
        height: auto;
        background-color: #07085e;
    }

    .features_sectionbox {
        border-radius: 24px !important;
        margin: 6px 0px;
    }

    .contactInfo h6 {
        font-size: 13px;
    }

    .contactInfo.col-lg-6 .d-flex.mb-3 {
        display: block !important;
        padding: 12px 12px !important;
        text-align: center;
    }

    .footer .col-lg-4.col-md-4 {
        max-width: 50%;
    }

    .productLoan .rounded_12 p {
        height: auto;
    }

    .faq-img-none {
        display: none;
    }

    .page-wrapper h2 {
        font-size: 30px;
    }

    .copy-box {
        font-size: 12px;
    }

    .gap-4.bottomFooter {
        gap: 8px !important;
    }

    .custom-navbar {
        padding: 5px 12px;
    }

    .repayDiv .w-75,
    .divcontrol {
        width: 100% !important;
    }

    .btnnew {
        text-align: center !important;
    }

    .footer .col-lg-8.col-md-12 .col-lg-3.my-2.col-md-6 {
        width: 50%;
    }

    .col-lg-4.col-md-6.my-4 .blogDiv.bg-white.h-100.shadow.border.rounded_12 {
        margin: 0px 24px;
    }

    .btnnew button {
        margin: 10px 0px;
    }

    .homeRight-image img {
        width: 100%;
    }

    .homeBanner h1,
    .heading2 {
        font-size: 36px;
    }

    a.navbar-brand img {
        width: 125px;
    }

    .btn.btn-primary,
    .btn.btn-outline-primary,
    .btn-white-primary,
    .btn-primary-outline {
        padding: 8px 14px;
        font-size: 14px;
    }

    .navbar-toggler {
        font-size: 17px !important;
        padding: 6px 6px !important;
    }

    .btn-block {
        margin-left: 4px !important;
    }

    .container-fluid,
    .container {
        width: 100%;
    }
}

@media(max-width:391px) {
    .check-button {
        width: auto;
    }

    .homeBanner h1, .heading2 {
        font-size: 34px;
    }

    .coverDiv h3 img {
        width: 30px;
        margin-right: 5px !important;
    }

    button.btn.need-help img {
        display: none;
    }
}

@media (max-width: 360px) {
    a.navbar-brand img {
        width: 156px;
    }

}

@media (max-width: 320px) {
    .captchaDiv img {
        width: 118px;
    }

    .recommended {
        top: -28px;
    }

    a.navbar-brand img {
        width: 130px;
    }

    .d-flex.gap-3.m-auto.col-lg-7.col-md-9.col-9.mb-3.mobInput1 {
        max-width: 100%;
        width: 90% !important;
    }
}